$primary-color: #ccc;
$secondary-color: #b11623;
$tertiary-color: #292c37;
$quarternary-color: #9f111b;
$quinary-color: #18453b;
$link-color: #507dbc;
$link-clicked-color: #32004a;

$trebuchet-font: "Trebuchet MS", Tahoma, sans-serif;
$font-base-size: 16px;
