$primary-color: #ccc;
$secondary-color: #b11623;
$tertiary-color: #292c37;
$quarternary-color: #9f111b;
$quinary-color: #000;

$trebuchet-font: "Trebuchet MS", Tahoma, sans-serif;
$font-base-size: 16px;
